[submodule "habs-runtime"]
	path = habs-runtime
	url = https://github.com/abstools/habs-runtime
  branch = pa
[submodule "habs-stdlib"]
	path = habs-stdlib
	url = https://github.com/abstools/habs-stdlib
